
doctype html
html

  //- HTML HEAD
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")

    //- Appstore smart banner
    meta(name="apple-itunes-app", content="app-id=897396382")
    
    title= page.title
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(href="/styles/site.min.css", rel="stylesheet")
    
    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    link(href="/styles/metaHolo.css", rel="stylesheet")

    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/setImmediate/1.0.4/setImmediate.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.7/uuid.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.2/js.cookie.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/d3/2.10.0/d3.v2.min.js')
    script(type='text/javascript', src='https://use.fontawesome.com/cee7f18682.js')
    
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/theme.min.css')
    
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    
    // jquery   libraries
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/styles/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    

    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js', integrity='sha256-vwV2uHl48k90PixRkSltSxx+/4S8XhevXCrpaiJTGr8=', crossorigin='anonymous')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js', integrity='sha256-wDASuom6tG2Y97FEJuZU8GWLOpLqeR4WgyOt42cCX9g=', crossorigin='anonymous')
    link(rel='stylesheet', href='/styles/navbar-fixed-side.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.3/css/tether.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.3/css/tether-theme-basic.min.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.3/js/tether.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.3/css/tether-theme-arrows.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.1/bootstrap-material-design.min.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.1/bootstrap-material-design.umd.min.js')

    link(href='//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/css/jqueryui-editable.css', rel='stylesheet')
    script(src='//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/js/jqueryui-editable.min.js')
    //
      <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
      <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js')

    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.js')
    // jqueryUI libraries
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js')
    script(type='text/javascript', src='https://www.youtube.com/iframe_api')
    link(rel='stylesheet', href='/styles/thisEqualsThat.css')
    
    script(type='text/javascript', src='/js/visual.tools.jQuery.objects.js')
    script(type='text/javascript', src='/js/visual.tools.bootstrap.objects.js')
    link(rel='stylesheet', href='/styles/menu.css', type='text/css', media='screen', charset='utf-8')


    script(src="/js/metaHolo.js", type="text/javascript")

    block css
    block head
  body

